/*Global styles*/
/*background image from Subtle Patterns */

body {
    background-image: url("./images/skyscraper/skyscraper.png");
}

/*header*/

.header {
    width: 45%;
    margin-left: 27%;
    text-align: center;
    background-color: #00e5ff;
    border: 8px solid;
    border-top-color: #00d8ff;
    border-right-color: #00d8ff;
    border-bottom-color: #00a9ff;
    border-left-color: #00a9ff;
}

.instructions {
    width: 75%;
    margin-top: 37px;
    margin-left: 11%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: silver;
    border: 2px solid dodgerblue;
}

.random-number {
    width: 15%;
    text-align: center;
    background-color: #00e5ff;
    border: 8px solid;
    border-top-color: #00d8ff;
    border-right-color: #00d8ff;
    border-bottom-color: #00a9ff;
    border-left-color: #00a9ff;
    margin-top: 24px;
    margin-left: 43%;
    font-size: 4em;
}

.crystal-array {
    text-align: center;
    background-color: silver;
    border: 2px solid dodgerblue;
    margin-top: 3%;
    width: 50%;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left: 25%;
}

.jewel {
    margin-right: 3%;
    margin-left: 3%;
    border-radius: 15px;
}

.total-score {
    text-align: center;
    background-color: #00e5ff;
    border: 8px solid;
    border-top-color: #00d8ff;
    border-right-color: #00d8ff;
    border-bottom-color: #00a9ff;
    border-left-color: #00a9ff;
    font-size: 3em;
    width: 26%;
    margin-top: 2%;
    margin-left: 22%;
}

.wins-loses {
    float: right;


    text-align: center;
    width: 26%;
    background-color: #00e5ff;
    border: 8px solid;
    border-top-color: #00d8ff;
    border-right-color: #00d8ff;
    border-bottom-color: #00a9ff;
    border-left-color: #00a9ff;
    margin-top: 2%;
}

.footer {
    width: 26%;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 36%;
    margin-top: 25%;
    text-align: center;
    background-color: #00e5ff;
    border: 8px solid;
    border-top-color: #00d8ff;
    border-right-color: #00d8ff;
    border-bottom-color: #00a9ff;
    border-left-color: #00a9ff;}
