/*Global styles*/
/*background image from Subtle Patterns */

body {
    background-image: url("./images/skyscraper/skyscraper.png");
}

/*header*/

.header {
    text-align: center;
    background-color: silver;
    border: 2px solid dodgerblue;
}

.instructions {
    width: 75%;
    margin-top: 37px;
    margin-left: 11%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: silver;
    border: 2px solid dodgerblue;
}

.random-number {
    width: 15%;
    text-align: center;
    background-color: silver;
    border: 2px solid dodgerblue;
    margin-top: 24px;
    margin-left: 43%;
    font-size: 4em;
}

.crystal-array {
    text-align: center;
    background-color: silver;
    border: 2px solid dodgerblue;
    margin-top: 3%;
    width: 50%;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left: 25%;
}

.jewel {
    margin-right: 3%;
    margin-left: 3%;
    border-radius: 15px;
}

.total-score {
    text-align: center;
    background-color: silver;
    border: 2px solid dodgerblue;
    font-size: 3em;
    width: 26%;
}

.wins-loses {
    text-align: center;
    background-color: silver;
    border: 2px solid dodgerblue;
}

.footer {
    text-align: center;
    background-color: silver;
    border: 2px solid dodgerblue;
}
